# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node.js
node_modules/
dist/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
*.usertasks
TestResults/
publish/

# Rider / JetBrains
.idea/
*.sln.iml

# VS Code
.vscode/
